<div class="modal-header">
  <h3 class="modal-title">Building Component Library</h3>
</div>
<div class="modal-body">

  <div class="row pad-bot-20">
    <div class="col-xs-3">

      <form ng-submit="submit()" name="form" novalidate>
        <div class="input-group">
          <input type="text" name="search" id="search" ng-model="keyword" class="form-control" placeholder="Search">
		      <span class="input-group-btn">
		        <button class="btn btn-default" type="button" ng-click="search()">
              <img class="search-img" src="assets/images/search.png" alt="search button"/></button>
		      </span>
        </div>
        <div class="pad-top-20"></div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="filter-img"><img src="assets/images/filter.png" alt="filter icon"/></div>
            Filters
          </div>
          <div class="panel-body">
            <div class="checkbox"><label><input type="checkbox" ng-model="bcl.filters.all"> All</label></div>
            <div class="checkbox"><label><input type="checkbox" ng-model="bcl.filters.local"> Local</label></div>
            <div class="checkbox"><label><input type="checkbox" ng-model="bcl.filters.bcl"> BCL (Online)</label></div>
            <div class="checkbox"><label><input type="checkbox" ng-model="bcl.filters.measure_dir"> Measure Directory</label></div>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Category</div>
          <div class="bcl-custom">
            <div class="bcl-custom panel-body">
              <uib-accordion close-others="false">
                <uib-accordion-group ng-repeat="cat1 in modal.categories" is-open="cat1.open" class="bcl-custom">
                  <uib-accordion-heading>
                    <i class="pull-left glyphicon pad-right-5" ng-class="{'glyphicon-chevron-down': cat1.open, 'glyphicon-chevron-right': !cat1.open}"></i>
                    <div class="checkbox bcl-cb">
                      <label><input type="checkbox" ng-model="cat1.tid" ng-click="$event.stopPropagation();">{{cat1.name}}</label>
                    </div>
                  </uib-accordion-heading>
                  <div ng-show="cat1.children" class="indent-once">
                    <div ng-repeat="cat2 in cat1.children">
                      <div class="checkbox bcl-cb">
                        <label><input type="checkbox" ng-model="cat2.tid">{{cat2.name}}</label>
                        <div ng-show="cat1.children" class="indent-twice">
                          <div ng-repeat="cat3 in cat2.children">
                            <div class="checkbox bcl-cb"><label><input type="checkbox" ng-model="cat3.tid">{{cat3.name}}</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </uib-accordion-group>
              </uib-accordion>
            </div>
          </div>
        </div>
      </form>

    </div>
    <div class="col-xs-9">
      <h3> BCL RESULTS HERE</h3>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="modal.ok()">OK</button>
  <button type="button" class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
</div>
