<div class="ui-grid-cell-contents">
  <div ng-if="row.entity.location != 'BCL'">
    <div class="btn-group" dropdown>
      <button type="button" class="btn btn-xs btn-default dropdown-toggle" aria-haspopup="true"
              aria-expanded="false">
        <span class="glyphicon glyphicon-pencil library-grid-button" aria-label="Editing Options"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li ng-if="row.entity.location == 'MY'">
          <a ng-href="" ng-click="grid.appScope.modal.editMeasure(row.entity); ">Edit</a>
        </li>
        <li>
          <a ng-href="" ng-click="grid.appScope.modal.copyAndEditMeasure(row.entity); $event.stopPropagation();">Edit and
            Copy</a>
        </li>
      </ul>
    </div>
  </div>
  <div ng-if="row.entity.location == 'BCL'">
    <span class="glyphicon glyphicon-download library-grid-button" aria-hidden="true"
          aria-label="Download Measure from BCL"></span>
  </div>
</div>
