{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "angular": true,
    "inject": true,
    "module": true
  },
  "rules": {
    "dot-notation": 1,
    // Stylistic Issues
    "array-bracket-spacing": 1,
    "comma-spacing": 1
  }
}
