{
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true,
    "node": true
  },
  "ecmaFeatures": {
    "modules": true
  },
  "globals": {
    "_": true,
    "inject": true,
    "module": true
  },
  "rules": {
    // Possible errors
    "no-console": 0, // Comment for production
    // Best practices
    "dot-notation": 1,
    "no-multi-spaces": 1,
    // Variables
    "no-unused-vars": 1,
    // Stylistic Issues
    "array-bracket-spacing": 1,
    "camelcase": [1, {"properties": "always"}],
    "comma-spacing": 1,
    "consistent-this": [2, "vm"],
    "no-mixed-spaces-and-tabs": 1,
    "no-trailing-spaces": 1,
    "quotes": [1, "single"],
    "semi": [2, "always"],
    // ES6
    "no-confusing-arrow": 2,
    "no-const-assign": 2,
    "no-var": 1,
    "prefer-arrow-callback": 1,
    "prefer-const": 1
  }
}
