@media (max-width: 1200px) {
  html, body {
    font-size: 0.8em;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/* placeholder hyperlinks */
a:not([href]) {
  cursor: pointer;
}

p {
  font-size: 1.5em;
}

select {
  cursor: pointer;
}

.container-flex {
  display: flex;
  height: 100%;
  align-items: stretch;
  > .nav {
    height: 100vh;
    position: fixed;
  }
  .server-frame {
    height: 100vh;
    width: 100%;
  }
}

.main {
  background: white;
  padding: 0px 10px 5px 45px;
  width:100%;
}

.nav {
  background: #3f3f3f;
  border-right: 1px solid #000;
  flex-direction: column;
  padding: 15px 0;
  width: 40px;
}

/* make sidebar nav vertical */
.sidebar-nav .navbar {
  border: 0;
  margin: 0;
}

.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
  background-color: #000;
  border: 0;
}

.sidebar-nav .navbar ul {
  float: none;
  background-color: #000;
}

.sidebar-nav .navbar ul:not {
  display: block;
}

.sidebar-nav .navbar li {
  float: none;
  display: block;
}

.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
}

.nav .nav-pills ul {
  padding: 0;
}

.nav li a {

  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.nav-pills {
  font-family: 'Open Sans Condensed', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding: 0;
  li {
    padding: 0;
    display: inline-block;
    float: none;
    margin: 0;
    a {
      padding: 5px 0 !important;
    }
    a:hover {
      background-color: #F6921E;
    }
  }
  li.active > a, li.active > a:hover, .nav-pills > li.active > a:focus {
    color: darkslategray;
    background-color: #F6921E;
    border-bottom: 2px solid #000;
  }
}

.full-width {
  width:100%;
}

.pad-bot-20 {
  padding-bottom: 20px;
}
.pad-bot-10 {
  padding-bottom: 10px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-5 {
  padding-top: 5px;
}

.margin-top-20 {
  margin-top:20px;
}

.margin-left-5 {
  margin-left:5px;
}

.margin-right-5 {
  margin-right:5px;
}

.search-img {
  width: 20px;
  height: 20px;
}

.filter-img {
  padding: 0 10px;
  display: inline;
}

.filter-img img {
  width: 20px;
  height: 20px;
}

.indent-once {
  padding-left: 10px;
}

.indent-twice {
  padding-left: 20px;
}

.bcl-cb {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pad-icon {
  margin-right: 5px;
  display: inline;
}

.pad-right-5 {
  padding-right: 5px;
}

.bcl-custom {
  &.panel-body {
    padding: 0;
  }

  .panel-default > .panel-heading {
    background-color: white;
    padding: 2px;
    margin: 0;
    font-size: 14px;

    & + .panel-collapse > .panel-body {
      border-top: 0 none;
    }
  }

  .panel-body {
    padding: 0;
    margin: 0;
  }

  .panel-title {
    font-size: 14px;
    border: 0 none;
  }

  .panel, .panel-default {
    border: 0 none;
  }
}

.bcl-custom .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0 none;
}

.bcl-p {
  font-size: 1em;
}

.lib-grid {
  /*font-size: 0.8em;*/
  height: 800px;
}

.lib-details {
  /*font-size: 0.8em;*/
}

.grid {
  width: 100%;
  height: 250px;
}


/* TODO: Something is wrong, fix this later */
.input-group > select + .input-group-btn > button {
  height: 34px;
}

// Increase modal size
.wide-modal .modal-dialog {
  min-width: 500px;
  width: calc(100% - 100px);
}

.icon-cell {
  text-align: center;
  padding: 3px 0px;
}

.icon-edit-cell {
  overflow: visible;
}

.location-cell {
  text-align: center;
}

.green-button {
  color: #6CC16F;
}

.gray-button {
  color:#D6D6D6;
}

.black-button {
  color:#000000;
}

.black-badge {
  background-color:#000000;
}

.library-grid-button {
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
}

/*
.ui-grid-cell.dropdown-button {
  overflow:visible;

  .ui-grid-cell-contents {
    overflow: visible;
  }
}
*/


/* ANALYSIS page */

.analysis-custom {

  .panel {
    border:0px;
    /* border-radius: 0px; */
    /* -webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0); */
    /* box-shadow: 0 0px 0px rgba(0, 0, 0, 0.0); */

  }

  a:hover, a:focus {
    text-decoration:none;
  }

  .panel-default > .panel-heading {
    background-color:#95A5A6;
    color:#ffffff;
    border-color:#ffffff;
  }
}

.button-div {
  padding-bottom:10px;
}

.gray-top {
  background-color:#D4D4D4;
  padding:5px;
  margin-bottom:20px;
}

.big-label {
  font-size:2em;
  display:inline;
  padding-right:20px;
}

.medium-label {
  font-size:1.4em;
}

.form-control-smaller-width {
  width:50%;
}

.badge-info {
  background-color:#6ACBE5;
  display:inline;
}

.input-group-addon {
  background-color:transparent;
  border: 0px;
}

.inline {
  display:inline;
}

h5.measure-type {
  font-size:1.5em;
  line-height: 1.33;
  margin: 0;
}

.black-line {
  border: none;
  height: 2px;
  /* Set the hr color */
  color: #000; /* old IE */
  background-color: #000; /* Modern Browsers */
}

.outputs-manual {
  font-size:1.5em;
}

.btn-grayed {
  color: #fff;
  background-color: #333;
  border-color: #4cae4c;
}


/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
