html, body {
  height: 100%;
}

@media (max-width: 1200px) {
  html, body {
    font-size: 0.8em;
  }
}

/* placeholder hyperlinks */
a:not([href]) {
  cursor: pointer;
}

select {
  cursor: pointer;
}

.container-flex {
  display: flex;
  height: 100%;
  align-items: stretch;
  > .nav {
    height: 100vh;
    position: fixed;
  }
}

.main {
  background: white;
  padding-left: 45px;
}

.nav {
  background: #3f3f3f;
  border-right: 1px solid #000;
  flex-direction: column;
  padding: 15px 0;
  width: 40px;
}

/* make sidebar nav vertical */
.sidebar-nav .navbar {
  border: 0;
  margin: 0;
}

.sidebar-nav .navbar .navbar-collapse {
  padding: 0;
  max-height: none;
  background-color: #000;
  border: 0;
}

.sidebar-nav .navbar ul {
  float: none;
  background-color: #000;
}

.sidebar-nav .navbar ul:not {
  display: block;
}

.sidebar-nav .navbar li {
  float: none;
  display: block;
}

.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #fff;
}

.nav .nav-pills ul {
  padding: 0;
}

.nav li a {

  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.nav-pills {
  font-family: 'Open Sans Condensed', 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
  padding: 0;
  li {
    padding: 0;
    display: inline-block;
    float: none;
    margin: 0;
    a {
      padding: 5px 0 !important;
    }
    a:hover {
      background-color: #F6921E;
    }
  }
  li.active > a, li.active > a:hover, .nav-pills > li.active > a:focus {
    color: darkslategray;
    background-color: #F6921E;
    border-bottom: 2px solid #000;
  }
}

/* increase modal size */
.wide-Modal .modal-dialog {
  width: 95%;
}

.pad-bot-20 {
  padding-bottom: 20px;
}

.pad-top-20 {
  padding-top: 20px;
}

.search-img {
  width: 20px;
  height: 20px;
}

.filter-img {
  padding: 0 10px;
  display: inline;
}

.filter-img img {
  width: 20px;
  height: 20px;
}

.indent-once {
  padding-left: 10px;
}

.indent-twice {
  padding-left: 20px;
}

.bcl-cb {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pad-icon {
  margin-right: 5px;
  display: inline;
}

.pad-right-5 {
  padding-right: 5px;
}

.bcl-custom {
  &.panel-body {
    padding: 0;
  }

  .panel-default > .panel-heading {
    background-color: white;
    padding: 2px;
    margin: 0;
    font-size: 14px;

    & + .panel-collapse > .panel-body {
      border-top: 0 none;
    }
  }

  .panel-body {
    padding: 0;
    margin: 0;
  }

  .panel-title {
    font-size: 14px;
    border: 0 none;
  }

  .panel, .panel-default {
    border: 0 none;
  }
}

.bcl-custom .panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top: 0 none;
}

/* TODO: Something is wrong, fix this later */
.input-group > select + .input-group-btn > button {
  height: 34px;
}

// Increase modal size
.wide-modal .modal-dialog {
  min-width: 500px;
  width: calc(100% - 100px);
}

.icon-cell {
  text-align: center;
  padding: 3px 0px;
}

.icon-edit-cell {
  overflow:visible;
}

.green-button {
  color: #6CC16F;
}

.library-grid-button {
  font-size: 25px;
}

.ui-grid-cell.dropdown-button {
  overflow:visible;

  .ui-grid-cell-contents {
    overflow: visible;
  }

}


/*
.lib-grid {
  font-size: 0.8em;
}

.lib-details {
  font-size: 0.8em;
}
*/

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
