<div class="modal-header">
  <h3 class="modal-title" translate>setProject.title</h3>
</div>

<div class="modal-body">
  <div>
    <h4 class="modal-title" translate>setProject.blurb</h4>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="modal.newProject()" translate>setProject.make</button>
    <button type="button" class="btn btn-primary" ng-click="modal.openProject()" translate>setProject.existing</button>
    <button type="button" class="btn btn-primary" ng-click="modal.cancel()" translate>Cancel</button>
  </div>
</div>
