<div role="rowgroup" class="ui-grid-header">
  <div class="ui-grid-top-panel">
    <div class="ui-grid-header-viewport">
      <div class="ui-grid-header-canvas">
        <div
          class="ui-grid-header-cell-wrapper"
          ng-style="colContainer.headerCellWrapperStyle()"
        >
          <div role="row" class="ui-grid-header-cell-row">
            <div
              ng-repeat="cat in grid.options.category"
              ng-if="cat.visible &&
                             (colContainer.renderedColumns | filter:{ colDef:{category: cat.name} }).length > 0"
            >
              <div class="ui-grid-category">{{cat.name}}</div>
              <div role="row" class="ui-grid-header-cell-row">
                <div
                  role="columnheader"
                  class="ui-grid-header-cell"
                  ng-repeat="col in colContainer.renderedColumns | filter:{ colDef:{category: cat.name} }"
                  ui-grid-header-cell
                  col="col"
                  render-index="$index"
                ></div>
              </div>
            </div>
            <!--!cat.visible && -->
            <div
              role="columnheader"
              class="ui-grid-header-cell"
              ng-if="col.colDef.category === undefined"
              ng-repeat="col in colContainer.renderedColumns track by col.uid"
              ui-grid-header-cell
              col="col"
              render-index="$index"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
