<div class="row pad-bot-20">
  <div class="col-md-6"><h4><translate>outputs.title</translate> <span class="badge badge-info margin-left-5">&nbsp;?&nbsp;</span></h4></div>
</div>
<div class="row pad-bot-20">
  <div class="col-md-12" ng-switch="selectedAnalysisType">
    <div ng-switch-when="Manual">
      <div class="outputs-manual" translate>outputs.noOutputsInManual</div>
    </div>
    <div ng-switch-when="Algorithmic">
      <div class="analysis-custom">
        <div class="full-width margin-top-20">
          <uib-accordion close-others="false">
            <uib-accordion-group ng-repeat="measure in outputMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
              <uib-accordion-heading>
                <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
                {{measure.display_name}}
                <span class="pull-right">
                  <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation(); outputs.removeMeasure(measure);">
                    <span class="glyphicon glyphicon-remove"></span>
                  </span>
                </span>
              </uib-accordion-heading>
              <div ng-attr-id="{{'grid_' + measure.uid}}" ui-grid="gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning class="grid" ng-style="getTableHeight(measure.uid)"></div>
              <div class="pad-top-10">
                <button class="btn btn-success" ng-click="outputs.addOutputs(measure)"><translate>outputs.selectOutputs</translate></button>
              </div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
