<div class="modal-header">
  <h3 class="modal-title" translate>outputs.modalSelectOutputs.title</h3>
</div>

<div class="modal-body">
  <div class="row pad-bot-20">
    <div class="col-sm-12 modal-text">
      <translate>outputs.modalSelectOutputs.message</translate>
    </div>
  </div>
  <div class="row pad-bot-20">
    <div class="col-sm-12">
      <button class="btn btn-primary" ng-click="toggleSelected()">
        <span ng-if="!allSelected" translate>outputs.modalSelectOutputs.selectAll</span>
        <span ng-if="allSelected" translate>outputs.modalSelectOutputs.deselectAll</span>
      </button>
    </div>
  </div>
  <div class="row pad-bot-10">
    <div class="col-sm-6">
      <div ng-repeat="output in measure.outputs" ng-if="$odd">
        <div class="row">
          <div class="col-sm-12 normal-text pad-left-25">
            <input type="checkbox" id="{{output.display_name}}" ng-model="output.checked">
            <label for="{{output.display_name}}" class="normal-text"> {{output.display_name}}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div ng-repeat="output in measure.outputs" ng-if="$even">
        <div class="row">
          <div class="col-sm-12 normal-text">
            <input type="checkbox" id="{{output.display_name}}" ng-model="output.checked">
            <label for="{{output.display_name}}" class="normal-text"> {{output.display_name}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pad-bot-10">
    <div class="col-sm-12 modal-text">
      <translate>outputs.modalSelectOutputs.newOutputs</translate>
    </div>
  </div>
  <div class="row pad-bot-10">
    <div class="col-sm-12 bold ">
      <div class="row pad-bot-10" ng-repeat="output in measure.userDefinedOutputs">
        <div class="col-sm-8 pad-left-25 normal-text">
          <input type="text" id="userDefinedOutput_{{$index}}" ng-model="output.display_name" class="form-control" ng-disabled="!output.newOut">
        </div>
        <div class="col-sm-1 pad-top-5">
          <span class="glyphicon glyphicon-remove-sign black-button header-text" ng-click="modal.deleteOutput(output)" aria-hidden="true" aria-label="Delete Output"></span>
        </div>
      </div>
      <button type="button" class="btn btn-success" ng-click="modal.addOutput()"><span class="glyphicon glyphicon-plus" aria-hidden="true" aria-label="Add Output"></span>&nbsp;<translate>outputs.modalSelectOutputs.addOutput</translate></button>
    </div>
  </div>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="modal.ok()" translate>OK</button>
  <button type="button" class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
</div>
