<div class="container">
  <div class="row row-same-height">
    <div class="col-sm-1 nav-span">
      <div class="app-nav" ng-include="'app/nav/nav.html'"></div>
    </div>
    <div class="col-sm-11 main-span">
      <div class="jumbotron text-center">
        <h1>PAT</h1>
      </div>

        <label for="analysisType"> Analysis Type: </label>
        <select name="analysisType" ng-model="data.analysisType">
          <option value="option-1">Manual</option>
          <option value="option-2">Auto</option>
        </select>
        <button ng-click="analysisTypeQuestion" class="glyphicon glyphicon-question-sign"></button>
        <br>

        <label for="defaultSeedModel"> Default Seed Model </label><br>
        <select name="defaultSeedModel" ng-model="data.defaultSeedModel">
          <option value="option-1">1</option>
          <option value="option-2">2</option>
        </select>
        <button ng-click="defaultSeedModelQuestion" class="glyphicon glyphicon-question-sign"></button>
        <br>

        <label for="defaultWeatherFile"> Default Weather File </label><br>
        <select name="defaultWeatherFile" ng-model="data.defaultWeatherFile">
          <option value="option-1">a</option>
          <option value="option-2">b</option>
        </select>
        <button ng-click="defaultWeatherFileQuestion" class="glyphicon glyphicon-question-sign"></button>
        <br>

        Project Measures and Options
        <button ng-click="projectMeasuresQuestion" class="glyphicon glyphicon-question-sign"></button>
        <button ng-click="checkUpdates" class="glyphicon glyphicon-repeat" style="float: right;" > Check for Updates </button>
        <br>

        OpenStudio Measures
        <button ng-click="openStudioMeasuresQuestion" class="glyphicon glyphicon-question-sign"></button>
        <button ng-click="addOpenStudioMeasure" class="glyphicon glyphicon-plus"> Add Measure </button>
        <br>

        EnergyPlus Measures
        <button ng-click="energyPlusMeasuresQuestion" class="glyphicon glyphicon-question-sign"></button>
        <button ng-click="addEnergyPlusMeasure" class="glyphicon glyphicon-plus"> Add Measure </button>
        <br>

        Reporting Measures
        <button ng-click="reportingMeasuresQuestion" class="glyphicon glyphicon-question-sign"></button>
        <button ng-click="addReportingMeasure" class="glyphicon glyphicon-plus"> Add Measure </button>
        <br>

      <div>
        <div class="panel panel-default">
          <div class="panel-heading">Measures On Disk</div>
          <div class="bcl-custom">
            <div class="bcl-custom panel-body">
              <uib-accordion close-others="analysis.oneAtATime">
                <uib-accordion-group is-open="analysis.status.isFirstOpen" is-disabled="analysis.status.isFirstDisabled">
                  <uib-accordion-heading>
                    Standard OpenStudio Report <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': analysis.status.open, 'glyphicon-chevron-right': !analysis.status.open}"></i>
                  </uib-accordion-heading>
                  <button type="button" class="btn btn-default btn-sm" ng-click="analysis.addItem()">Add Item</button>
                  <div ng-repeat="item in analysis.items">{{item}}</div>
                </uib-accordion-group>
                <uib-accordion-group heading="Calibration Report">
                  <div ng-repeat="item in analysis.items">{{item}}</div>
                </uib-accordion-group>
                <uib-accordion-group heading="Radiance Report">
                  <div ng-repeat="item in analysis.items">{{item}}</div>
                </uib-accordion-group>
                <uib-accordion-group is-open="analysis.status.open">
                  <uib-accordion-heading>
                    I can have markup, too! <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': analysis.status.open, 'glyphicon-chevron-right': !analysis.status.open}"></i>
                  </uib-accordion-heading>
                  This is just some content to illustrate fancy headings.
                </uib-accordion-group>
              </uib-accordion>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
