<div class="container-flex">
  <div class="nav">
    <div ng-include="'app/nav/nav.html'"></div>
  </div>
  <div class="main">
    <div class="gray-top">
      <div class="row">
        <div class="col-md-6 pad-bot-20">
          <label class="big-label">Analysis Type</label>
          <div class="input-group">
            <select class="form-control inline form-control-smaller-width">
              <option>Manual</option>
              <option>Auto</option>
            </select>
            <span class="input-group-addon"><span class="badge badge-info">&nbsp;?&nbsp;</span></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 pad-bot-20">
          <label class="medium-label">Default Seed Model</label>
          <div class="input-group">
            <select class="form-control">
              <option>Test 1</option>
              <option>Test 2</option>
            </select>
            <!--<span class="input-group-addon"><span class="badge badge-info">&nbsp;?&nbsp;</span></span>-->
          </div>
        </div>
        <div class="col-md-3 pad-bot-20">
          <label class="medium-label">Default Weather File</label>
          <div class="input-group">
            <select class="form-control">
              <option>Weather 1</option>
              <option>Weather 2</option>
            </select>
            <!--<span class="input-group-addon"><span class="badge badge-info">&nbsp;?&nbsp;</span></span>-->
          </div>
        </div>
      </div>
    </div>

    <div class="row pad-bot-20">
      <div class="col-md-6"> <h4>Project Measures and Options <span class="badge badge-info margin-left-5">&nbsp;?&nbsp;</span></h4></div>
      <div class="col-md-2 col-md-offset-2"><button type="button" class="btn btn-primary" ng-click="analysis.checkUpdates()"><span class="glyphicon glyphicon-repeat">&nbsp;</span>Check for Updates</button></div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h5 class="inline measure-type">OpenStudio Measures</h5>
        <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
        <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('ModelMeasure')">+ Add Measure</button>
      </div>
    </div>
    <div class="analysis-custom">
      <div class="panel panel-default full-width margin-top-20">
        <div class="analysis-custom panel-body">
          <uib-accordion close-others="false">
            <uib-accordion-group heading="{{measure.name}}" ng-repeat="measure in osMeasures" class="analysis-custom">
              <div ng-attr-id="{{ 'grid_' + measure.uid}}" ui-grid="analysis.gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav class="grid"></div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>

    <hr class="black-line" />
    <div class="row">
      <div class="col-md-4">
        <h5 class="inline measure-type">EnergyPlus Measures</h5>
        <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
        <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('EnergyPlusMeasure')">+ Add Measure</button>
      </div>
    </div>
    <div class="analysis-custom">
      <div class="panel panel-default full-width margin-top-20">
        <div class="analysis-custom panel-body">
          <uib-accordion close-others="false">
            <uib-accordion-group heading="{{measure.name}}" ng-repeat="measure in epMeasures" class="analysis-custom">
              <div ng-attr-id="{{ 'grid_' + measure.uid}}" ui-grid="analysis.gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav class="grid"></div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>

    <hr class="black-line" />
    <div class="row">
      <div class="col-md-4">
        <h5 class="inline measure-type">Reporting Measures</h5>
        <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
        <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('ReportingMeasure')">+ Add Measure</button>
      </div>
    </div>
    <div class="analysis-custom">
      <div class="panel panel-default full-width margin-top-20">
        <div class="analysis-custom panel-body">
          <uib-accordion close-others="false">
            <uib-accordion-group heading="{{measure.name}}" ng-repeat="measure in repMeasures" class="analysis-custom">
              <div ng-attr-id="{{ 'grid_' + measure.uid}}" ui-grid="analysis.gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav class="grid"></div>
            </uib-accordion-group>
          </uib-accordion>
        </div>
      </div>
    </div>

  </div>
</div>
