<div class="row pad-bot-20">
  <div class="col-sm-6">
    <uib-accordion close-others="false">
      <uib-accordion-group class="algorithm-custom" is-open="settings.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': settings.open, 'glyphicon-chevron-right': !settings.open}"></i>
          <translate>analysis.algorithmic.algorithmSetting</translate>
        </uib-accordion-heading>
        <div ng-repeat="option in algorithmSettings">
          <div class="row">
            <div class="col-sm-10">
              <label for="{{option.name}}">{{option.name}}</label>
              <input type="text" class="form-control " id="{{option.name}}" placeholder="{{option.defaultValue}}" ng-model="option.value">
            </div>
          </div>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.openstudioMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('ModelMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary" ng-click="analysis.checkUpdates()"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <translate>analysis.checkForUpdates</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="full-width margin-top-20">

    <uib-accordion close-others="false">
      <uib-accordion-group ng-repeat="measure in osMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
          {{measure.display_name}}
          <span class="pull-right">
            <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
            <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
            <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation(); analysis.removeMeasure(measure);">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </span>
        </uib-accordion-heading>
        <div class="button-div">
          <div class="row pad-top-10 normal-text">
            <div class="col-sm-3 pad-bot-10">
              <label translate>analysis.modelToBaseInputsOn</label>
            </div>
            <div class="col-sm-5 pad-bot-20 pad-top-5">
              <div class="input-group">
                <select class="form-control inline form-control-smaller-width" ng-options="seed as seed for seed in seeds" ng-model="measure.seed" ng-change="analysis.computeMeasureArguments(measure)"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="container" ng-repeat="measure in osMeasures">
          <div class="row">
            <div class="col-sm-1">
              Name
            </div>
            <div class="col-sm-2">
              Short Name
            </div>
            <div class="col-sm-2">
              Variable Settings
            </div>
            <div class="col-sm-2">
              Static/Default
            </div>
            <div class="col-sm-5">
              Measure Inputs
            </div>
          </div>
          <div class="row" ng-repeat="argument in measure.arguments">
            <div class="col-sm-1">
              {{argument.display_name}}
            </div>
            <div class="col-sm-2">
              {{argument.name}}
            </div>
            <div class="col-sm-2">
              <select class="form-control" ng-options="seed as seed for seed in seeds" ng-model="defaultSeed" ng-change="analysis.setSeed()"></select>
            </div>
            <div class="col-sm-2">
              <input type="text" name="staticDefaultValue">
            </div>
            <div class="col-sm-5">
              Measure Inputs here
            </div>
          </div>

      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>

<hr class="black-line">
<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.energyplusMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('EnergyPlusMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="full-width margin-top-20">
    <uib-accordion close-others="false">
      <uib-accordion-group ng-repeat="measure in epMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
          {{measure.display_name}}
          <span class="pull-right">
            <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
            <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
            <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.removeMeasure(measure);">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </span>
        </uib-accordion-heading>
        <div class="button-div">
          <div class="row pad-top-10 normal-text">
            <div class="col-sm-3 pad-bot-10">
              <label translate>analysis.modelToBaseInputsOn</label>
            </div>
            <div class="col-sm-5 pad-bot-20 pad-top-5">
              <div class="input-group">
                <select class="form-control inline form-control-smaller-width" ng-options="seed as seed for seed in seeds" ng-model="measure.seed" ng-change="analysis.computeMeasureArguments(measure)"></select>
              </div>
            </div>
          </div>
        </div>
        <div ng-attr-id="{{ 'grid_' + measure.uid}}" ui-if="gridOptions[measure.uid].data.length>0"  ui-grid="gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning class="grid" ng-style="getTableHeight(measure.uid)"></div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>

<hr class="black-line">
<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.reportingMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('ReportingMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="full-width margin-top-20">
    <uib-accordion close-others="false">
      <uib-accordion-group ng-repeat="measure in repMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
          {{measure.display_name}}
          <span class="pull-right">
            <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
             <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
            <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.removeMeasure(measure);">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </span>
        </uib-accordion-heading>
        <div class="button-div">
          <div class="row pad-top-10 normal-text">
            <div class="col-sm-3 pad-bot-10">
              <label translate>analysis.modelToBaseInputsOn</label>
            </div>
            <div class="col-sm-5 pad-bot-20 pad-top-5">
              <div class="input-group">
                <select class="form-control inline form-control-smaller-width" ng-options="seed as seed for seed in seeds" ng-model="measure.seed" ng-change="analysis.computeMeasureArguments(measure)"></select>
              </div>
            </div>
          </div>
        </div>
        <div ng-attr-id="{{'grid_' + measure.uid}}" ui-if="gridOptions[measure.uid].data.length>0"  ui-grid="gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning class="grid" ng-style="getTableHeight(measure.uid)"></div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
