<div class="row pad-bot-20">
  <div class="col-sm-6"><h4><translate>analysis.manual.projectMeasuresAndOptions</translate> <span class="badge badge-info margin-left-5">&nbsp;?&nbsp;</span></h4></div>
  <div class="col-sm-2 col-md-offset-2">
    <button type="button" class="btn btn-primary" ng-click="analysis.checkUpdates()"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <translate>analysis.checkForUpdates</translate>
    </button>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.openstudioMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('ModelMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="panel panel-default full-width margin-top-20">
    <div class="analysis-custom panel-body">
      <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="measure in osMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
          <uib-accordion-heading>
            <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
            {{measure.display_name}}
            <span class="pull-right">
              <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
              <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
              <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation(); analysis.removeMeasure(measure);">
                <span class="glyphicon glyphicon-remove"></span>
              </span>
            </span>
          </uib-accordion-heading>
          <div class="button-div">
            <button type="button" class="btn btn-success" ng-click="analysis.addMeasureOption(measure)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <translate>analysis.addMeasureOption</translate></button>
            <button type="button" class="btn btn-success" ng-click="analysis.duplicateOption(measure)"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> <translate>analysis.duplicateOption</translate></button>
            <button type="button" class="btn btn-success" ng-click="analysis.duplicateMeasureAndOption(measure)">
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> <translate>analysis.duplicateMeasureAndOption</translate>
            </button>
            <p><translate>analysis.checkAll</translate> <input type="checkbox" ng-model="selectedAll" ng-click="analysis.checkAll(measure)"></p>
          </div>
          <div ng-attr-id="{{'grid_' + measure.uid}}" ui-grid="gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav class="grid"></div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>

<hr class="black-line">
<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.energyplusMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('EnergyPlusMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="panel panel-default full-width margin-top-20">
    <div class="analysis-custom panel-body">
      <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="measure in epMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
          <uib-accordion-heading>
            <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
            {{measure.display_name}}
            <span class="pull-right">
              <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
              <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
              <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.removeMeasure(measure);">
                <span class="glyphicon glyphicon-remove"></span>
              </span>
            </span>
          </uib-accordion-heading>
          <div class="button-div">
            <button type="button" class="btn btn-success" ng-click="analysis.addMeasureOption(measure)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <translate>analysis.addMeasureOption</translate></button>
            <button type="button" class="btn btn-success" ng-click="analysis.duplicateOption(measure)"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
              <translate>analysis.duplicateOption</translate></button>
            <button type="button" class="btn btn-success" ng-click="analysis.duplicateMeasureAndOption(measure)">
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> <translate>analysis.duplicateMeasureAndOption</translate>
            </button>
            <p><translate>analysis.checkAll</translate> <input type="checkbox" ng-model="selectedAll" ng-click="analysis.checkAll(measure)"></p>
          </div>
          <div ng-attr-id="{{ 'grid_' + measure.uid}}" ui-grid="gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav class="grid"></div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>

<hr class="black-line">
<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.reportingMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('ReportingMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="panel panel-default full-width margin-top-20">
    <div class="analysis-custom panel-body">
      <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="measure in repMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
          <uib-accordion-heading>
            <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
            {{measure.display_name}}
            <span class="pull-right">
              <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
               <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
              <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.removeMeasure(measure);">
                <span class="glyphicon glyphicon-remove"></span>
              </span>
            </span>
          </uib-accordion-heading>
          <div class="button-div">
            <button type="button" class="btn btn-success" ng-click="analysis.addMeasureOption(measure)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              <translate>analysis.addMeasureOption</translate></button>
            <button type="button" class="btn btn-success" ng-click="analysis.duplicateOption(measure)"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
              <translate>analysis.duplicateOption</translate></button>
            <button type="button" class="btn btn-success" ng-click="analysis.duplicateMeasureAndOption(measure)">
              <span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> <translate>analysis.duplicateMeasureAndOption</translate>
            </button>
            <p><translate>analysis.checkAll</translate> <input type="checkbox" ng-model="selectedAll" ng-click="analysis.checkAll(measure)"></p>
          </div>
          <div ng-attr-id="{{'grid_' + measure.uid}}" ui-grid="gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav class="grid"></div>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>
