<div class="row pad-bot-20">
  <div class="col-sm-6">
    <uib-accordion close-others="false">
      <uib-accordion-group class="algorithm-custom" is-open="settings.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': settings.open, 'glyphicon-chevron-right': !settings.open}"></i>
          <translate>analysis.algorithmic.algorithmSetting</translate>
        </uib-accordion-heading>
        <div ng-repeat="option in algorithmSettings">
          <div class="row">
            <div class="col-sm-10">
              <label for="{{option.name}}">{{option.name}}</label><br/>
              <label for="{{option.name}}">{{option.description}}</label>
              <input type="text" class="form-control " id="{{option.name}}" placeholder="{{option.defaultValue}}" ng-model="option.value">
            </div>
          </div>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.openstudioMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('ModelMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary" ng-click="analysis.checkUpdates()"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <translate>analysis.checkForUpdates</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="full-width margin-top-20">

    <uib-accordion close-others="false">
      <uib-accordion-group ng-repeat="measure in osMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
          {{measure.display_name}}
          <span class="pull-right">
            <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
            <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
            <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation(); analysis.removeMeasure(measure);">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </span>
        </uib-accordion-heading>
        <div class="button-div">
          <div class="row pad-top-10 normal-text">
            <div class="col-sm-3 pad-bot-10">
              <label translate>analysis.modelToBaseInputsOn</label>
            </div>
            <div class="col-sm-5 pad-bot-20 pad-top-5">
              <div class="input-group">
                <select class="form-control inline form-control-smaller-width" ng-options="seed as seed for seed in seeds" ng-model="measure.seed" ng-change="analysis.computeMeasureArguments(measure)"></select>
              </div>
            </div>
          </div>
        </div>

        <div class="container" ng-repeat="measure in osMeasures">
          <div class="row">
            <div class="col-sm-1">
              Name
            </div>
            <div class="col-sm-2">
              Short Name
            </div>
            <div class="col-sm-2">
              Variable Settings
            </div>
            <div class="col-sm-2">
              Static/Default
            </div>
            <div class="col-sm-5">
              Measure Inputs
            </div>
          </div>
          <div class="row" ng-if="argument.display_name.length" ng-repeat="argument in measure.arguments">
            <div class="col-sm-1">
              {{argument.display_name}}
            </div>

            <div class="col-sm-2">
              {{argument.name}}
            </div>

            <div class="col-sm-2">
              <select class="form-control" ng-options="variableSetting as variableSetting for variableSetting in argument.inputs.variableSettings" ng-init="analysis.getVariableSettings(argument)" ng-model="argument.inputs.variableSetting"></select>
            </div>

            <div class="col-sm-2" ng-if="argument.type == 'Choice'">
              <select class="form-control" ng-options="default_value as default_value for default_value in argument.inputs.default_values" ng-model="argument.inputs.default_value" ng-init="argument.inputs.default_values = argument.default_values"></select>
            </div>
            <div class="col-sm-2" ng-if="argument.type == 'String'">
              <input type="text" ng-model="argument.inputs.default_value" ng-init="argument.inputs.default_value = argument.default_value">
            </div>
            <div class="col-sm-2" ng-if="argument.type == 'Double' || argument.type == 'Integer'">
              <input type="number" ng-model="argument.inputs.default_value" ng-init="argument.inputs.default_value = argument.default_value">
            </div>

            <div class="col-sm-5" ng-show="(analysis.$scope.selectedSamplingMethod.id == 'SPEA2' || analysis.$scope.selectedSamplingMethod.id == 'PSO') && (argument.type == 'Double' || argument.type == 'Integer') && argument.inputs.variableSetting != 'Static'">
              <div class="row">
                <div class="col-sm-6">
                  Minimum
                </div>
                <div class="col-sm-6">
                  Maximum
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <input class="form-control" type="number" ng-model="argument.inputs.minimum">
                </div>
                <div class="col-sm-6">
                  <input class="form-control" type="number" ng-model="argument.inputs.maximum">
                </div>
              </div>
            </div>

            <div class="col-sm-5" ng-show="(analysis.$scope.selectedSamplingMethod.id == 'RGENOUD' || analysis.$scope.selectedSamplingMethod.id == 'Optim') && (argument.type == 'Double' || argument.type == 'Integer') && argument.inputs.variableSetting != 'Static'">
              <div class="row">
                <div class="col-sm-4">
                  Minimum
                </div>
                <div class="col-sm-4">
                  Maximum
                </div>
                <div class="col-sm-4">
                  Delta X
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.minimum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.maximum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.deltaX">
                </div>
              </div>
            </div>

            <div class="col-sm-5" ng-show="analysis.$scope.selectedSamplingMethod.id == 'PreFlight' && argument.inputs.variableSetting != 'Static'">
              <div class="row">
                <div class="col-sm-4">
                  Minimum
                </div>
                <div class="col-sm-4">
                  Maximum
                </div>
                <div class="col-sm-4">
                  Mean
                </div>
              </div>
              <div class="row" ng-if="argument.type == 'Double' || argument.type == 'Integer'">
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.minimum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.maximum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.mean">
                </div>
              </div>
              <div class="row" ng-if="argument.type == 'String'">
                <div class="col-sm-4">
                  <input class="form-control" type="text" ng-model="argument.inputs.minimum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="text" ng-model="argument.inputs.maximum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="text" ng-model="argument.inputs.mean">
                </div>
              </div>
              <div class="row" ng-if="argument.type == 'Choice'">
                <div class="col-sm-4">
                  <select class="form-control" ng-options="minimum as minimum for minimum in argument.inputs.minimums" ng-model="argument.inputs.minimum"></select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" ng-options="maximum as maximum for maximum in argument.inputs.maximums" ng-model="argument.inputs.maximum"></select>
                </div>
                <div class="col-sm-4">
                  <select class="form-control" ng-options="mean as mean for mean in argument.inputs.means" ng-model="argument.inputs.mean"></select>
                </div>
              </div>
            </div>

            <div class="col-sm-5" ng-show="analysis.$scope.selectedSamplingMethod.id == 'NSGA2'">
              <div class="row" ng-if="argument.inputs.variableSetting == 'Continuous'">
                <div class="col-sm-4">
                  Minimum
                </div>
                <div class="col-sm-4">
                  Maximum
                </div>
                <div class="col-sm-4">
                  Delta X
                </div>
              </div>
              <div class="row" ng-if="argument.inputs.variableSetting == 'Continuous' && (argument.type == 'Double' || argument.type == 'Integer')">
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.minimum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.maximum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="number" ng-model="argument.inputs.deltaX">
                </div>
              </div>
              <div class="row" ng-if="argument.inputs.variableSetting == 'Continuous' && argument.type == 'String'">
                <div class="col-sm-4">
                  <input class="form-control" type="text" ng-model="argument.inputs.minimum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="text" ng-model="argument.inputs.maximum">
                </div>
                <div class="col-sm-4">
                  <input class="form-control" type="text" ng-model="argument.inputs.deltaX">
                </div>
              </div>
              <div class="row" ng-if="argument.inputs.variableSetting == 'Discrete' && (argument.type == 'Double' || argument.type == 'Integer')">
                <div class="col-sm-12">
                  <div ng-repeat="discreteVariable in argument.inputs.discreteVariables">
                    <input class="form-control" type="number" ng-model="discreteVariable.value">
                    <input class="form-control" type="number" ng-model="discreteVariable.weight">
                  </div>
                  <button type="button" class="btn btn-success" ng-click="analysis.addDiscreteVariable(argument)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </div>
              </div>
              <div class="row" ng-if="argument.inputs.variableSetting == 'Discrete' && argument.type == 'String'">
              <div class="col-sm-12">
                <div ng-repeat="discreteVariable in argument.inputs.discreteVariables">
                  <input class="form-control" type="text" ng-model="discreteVariable.value">
                  <input class="form-control" type="text" ng-model="discreteVariable.weight">
                </div>
                <button type="button" class="btn btn-success" ng-click="analysis.addDiscreteVariable(argument)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>

<hr class="black-line">
<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.energyplusMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('EnergyPlusMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="full-width margin-top-20">
    <uib-accordion close-others="false">
      <uib-accordion-group ng-repeat="measure in epMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
          {{measure.display_name}}
          <span class="pull-right">
            <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
            <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
            <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.removeMeasure(measure);">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </span>
        </uib-accordion-heading>
        <div class="button-div">
          <div class="row pad-top-10 normal-text">
            <div class="col-sm-3 pad-bot-10">
              <label translate>analysis.modelToBaseInputsOn</label>
            </div>
            <div class="col-sm-5 pad-bot-20 pad-top-5">
              <div class="input-group">
                <select class="form-control inline form-control-smaller-width" ng-options="seed as seed for seed in seeds" ng-model="measure.seed" ng-change="analysis.computeMeasureArguments(measure)"></select>
              </div>
            </div>
          </div>
        </div>
        <div ng-attr-id="{{ 'grid_' + measure.uid}}" ui-if="gridOptions[measure.uid].data.length>0"  ui-grid="gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning class="grid" ng-style="getTableHeight(measure.uid)"></div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>

<hr class="black-line">
<div class="row">
  <div class="col-sm-12">
    <h5 class="inline measure-type" translate>analysis.reportingMeasures</h5>
    <span class="badge badge-info margin-left-5 margin-right-5">&nbsp;?&nbsp;</span>
    <button type="button" class="btn btn-success" ng-click="analysis.addMeasure('ReportingMeasure')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <translate>analysis.addMeasure</translate></button>
  </div>
</div>
<div class="analysis-custom">
  <div class="full-width margin-top-20">
    <uib-accordion close-others="false">
      <uib-accordion-group ng-repeat="measure in repMeasures" class="analysis-custom" id="{{measure.uid}}" is-open="measure.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': measure.open, 'glyphicon-chevron-right': !measure.open}"></i>
          {{measure.display_name}}
          <span class="pull-right">
            <span ng-if="!$first" class="glyphicon glyphicon-arrow-up black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'up');"></span>
             <span ng-if="!$last" class="glyphicon glyphicon-arrow-down black-button" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.reorderMeasure(measure, 'down');"></span>
            <span class="badge black-button margin-left-5 margin-right-5" ng-click="$event.preventDefault(); $event.stopPropagation();analysis.removeMeasure(measure);">
              <span class="glyphicon glyphicon-remove"></span>
            </span>
          </span>
        </uib-accordion-heading>
        <div class="button-div">
          <div class="row pad-top-10 normal-text">
            <div class="col-sm-3 pad-bot-10">
              <label translate>analysis.modelToBaseInputsOn</label>
            </div>
            <div class="col-sm-5 pad-bot-20 pad-top-5">
              <div class="input-group">
                <select class="form-control inline form-control-smaller-width" ng-options="seed as seed for seed in seeds" ng-model="measure.seed" ng-change="analysis.computeMeasureArguments(measure)"></select>
              </div>
            </div>
          </div>
        </div>
        <div ng-attr-id="{{'grid_' + measure.uid}}" ui-if="gridOptions[measure.uid].data.length>0"  ui-grid="gridOptions[measure.uid]" ui-grid-edit ui-grid-cellnav ui-grid-auto-resize ui-grid-resize-columns ui-grid-pinning class="grid" ng-style="getTableHeight(measure.uid)"></div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>
