<div class="modal-header">
  <h3 class="modal-title" translate>analysis.manual.modalEditOptionDescription</h3>
</div>

<div class="modal-body">
  <div class="row pad-bot-10">
    <div class="col-sm-12">
      <textarea class="form-control" cols="78" rows="7" ng-model="modal.optionDescription"></textarea>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="modal.ok()" translate>OK</button>
  <button type="button" class="btn btn-warning" ng-click="modal.cancel()">Cancel</button>
</div>
