<div>
  <form name="inputForm">
    <select ng-if="row.entity.type=='Choice'" ng-class="'colt' + col.uid" ui-grid-edit-dropdown ng-model="MODEL_COL_FIELD" ng-options="field[editDropdownIdLabel] as field[editDropdownValueLabel] CUSTOM_FILTERS for field in editDropdownOptionsArray"></select>
    <input ng-if="row.entity.type=='Boolean'" type="checkbox" ng-class="'colt' + col.uid" ui-grid-checkbox ng-model="MODEL_COL_FIELD">
    <input ng-if="row.entity.type=='Integer'" type="number" ng-class="'colt' + col.uid" ui-grid-editor ng-model="MODEL_COL_FIELD">
    <input ng-if="row.entity.type=='Double'" type="number" ng-class="'colt' + col.uid" ui-grid-editor ng-model="MODEL_COL_FIELD">
    <input ng-if="row.entity.type=='String'" type="text" ng-class="'colt' + col.uid" ui-grid-editor ng-model="MODEL_COL_FIELD">
  </form>
</div>
