<div class="modal-header">
  <h3 class="modal-title" translate>run.modalNewCluster.title</h3>
</div>

<div class="modal-body">
  <div class="row pad-bot-10">
    <div class="col-sm-4"><label class="modal-text"><translate>run.modalNewCluster.name</translate></label></div>
    <div class="col-sm-8"><input type="text" ng-model="name" size="50" class="modal-text"></div>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="modal.ok()" translate>OK</button>
  <button type="button" class="btn btn-warning" ng-click="modal.cancel()" translate>Cancel</button>
</div>
