<div class="row">
  <div class="col-sm-12">
    <uib-accordion>
      <uib-accordion-group is-open="remoteSettings.open">
        <uib-accordion-heading>
          <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': remoteSettings.open, 'glyphicon-chevron-right': !remoteSettings.open}"></i>
          <translate>run.remote.serverSettings</translate>
        </uib-accordion-heading>
        <div class="row">
          <label for="externalURL" class="col-sm-3 run-label" translate>run.remote.serverURL</label>
          <div class="col-sm-7">
            <input class="form-control" id="externalURL" type="text" ng-model="remoteSettings.remoteServerURL" ng-change="run.resetRemoteServerURL()">
          </div>
          <div class="col-sm-1">
            <button type="button" class="btn btn-primary" ng-show="serverStatuses[selectedRunType.name] != 'started'" ng-click="run.connectRemoteServer()" translate>run.remote.connect</button>
            <button type="button" class="btn btn-danger" ng-show="serverStatuses[selectedRunType.name] == 'started'" ng-click="run.stopServer()" translate>run.remote.disconnect</button>
          </div>
        </div>
      </uib-accordion-group>
    </uib-accordion>
  </div>
</div>

<div class="row pad-bot-20">
  <div class="col-sm-8">
    <button type="button" class="btn btn-success" ng-show="!disabledButtons && serverStatuses[selectedRunType.name] == 'started'" ng-click="run.warnBeforeDelete('run')" translate>run.runEntireWorkflow</button>
    <button type="button" class="btn btn-success" ng-if="!disabledButtons && atLeastOneSelected() && serverStatuses[selectedRunType.name] == 'started'" ng-click="run.warnBeforeDelete('selected')" translate>run.runSelected</button>
    <button type="button" class="btn btn-danger" ng-show="disabledButtons && serverStatuses[selectedRunType.name] == 'started'" ng-click="run.cancelRun()" translate>run.cancelRun</button>
    <button type="button" class="btn btn-primary" ng-show="serverStatuses[selectedRunType.name] == 'started'" ng-click="run.viewServer()" translate>run.viewServer</button>
  </div>

  <div class="col-sm-3 col-sm-offset-1">
    <button type="button" class="btn btn-info" ng-if="selectedAnalysisType == 'Algorithmic' && analysisStatus == 'completed' && resultsExist()" ng-click="run.viewAlgorithmResults()" translate>run.viewAlgorithmResults</button>
    <button type="button" class="btn btn-info" ng-if="selectedAnalysisType == 'Algorithmic' && analysisStatus == 'completed' && !resultsExist()" ng-click="run.downloadAlgorithmResults()" translate>run.downloadAlgorithmResults</button>
    <button type="button" class="btn btn-info pull-right" ng-click="run.exportOSA()" translate>run.exportOSA</button>
  </div>
</div>
