<div class="row">
  <div class="col-md-1 pad-bot-10">
    <h4 translate>run.title</h4>
  </div>
  <div class="col-md-5 pad-bot-20 pad-top-5">
    <div class="input-group">
      <select class="form-control" ng-options="type.displayName for type in run.runTypes track by type.name" ng-model="selectedRunType" ng-change="run.setRunType()"></select>
    </div>
  </div>
</div>

<div class="row pad-bot-20">
  <div class="col-md-12">
    <button type="button" class="btn btn-info" ng-click="run.exportOSA()" translate>run.exportToOSA</button>
  </div>
</div>

<div ng-show="selectedRunType.name == 'remote'" class="row pad-bot-20">
  <div class="col-md-8">
    <button type="button" class="btn btn-success" ng-show="!disabledButtons" ng-click="run.runEntireWorkflow()" translate>run.runEntireWorkflow</button>
    <button type="button" class="btn btn-danger" ng-show="disabledButtons" ng-click="run.cancelRun()" translate>run.cancelRun</button>
  </div>
</div>

<div ng-show="selectedRunType.name == 'local'" class="row pad-bot-20">
  <div class="col-md-12">
    <button type="button" class="btn btn-success" ng-show="!disabledButtons" ng-click="run.runEntireWorkflow()" translate>run.runEntireWorkflow</button>
    <button type="button" class="btn btn-danger" ng-show="disabledButtons" ng-click="run.cancelRun()" translate>run.cancelRun</button>
    <button type="button" class="btn btn-danger" ng-show="serverStatus == 'started'" ng-click="run.stopServer()" translate>run.stopServer</button>
    <!-- <button type="button" class="btn btn-success" ng-disabled="disabledButtons" ng-click="run.runSelected()">Run Selected</button>
      <button type="button" class="btn btn-success" ng-disabled="disabledButtons" ng-click="run.runUpdated()">Run Updated Design Alternatives Only</button>
      <button type="button" class="btn btn-success" ng-disabled="disabledButtons" ng-click="run.runEnergyPlus()">Run up to EnergyPlus</button>
      <button type="button" class="btn btn-success" ng-disabled="disabledButtons" ng-click="run.runReportingMeasures()">Run Reporting Measures</button>
      -->
  </div>
</div>

<div class="row pad-bot-20">
  <div class="col-md-5">
    <uib-progressbar class="progress-striped active" type="success" value="progressAmount">{{progressMessage}}</uib-progressbar>
  </div>
</div>

<div class="row pad-bot-20">
  <div class="col-md-5">
    <p>Server Status is: {{serverStatus}}</p>
    <p>Analysis ID is: {{analysisID}}</p>
    <p>Analysis Status is: {{analysisStatus}}</p>
  </div>
</div>
<div ng-if="serverStatus == 'started'"><button type="button" class="btn btn-primary" ng-click="run.viewServer()">View Server</button></div>

<div ng-if="datapoints.length > 0">
  <div class="panel panel-default full-width margin-top-20">
    <div class="panel-body">
      <uib-accordion close-others="false">
        <uib-accordion-group ng-repeat="datapoint in datapoints" id="{{datapoint.id}}" is-open="datapoint.open">
          <uib-accordion-heading>
            <i class="pull-left glyphicon pad-right-5 black-button" ng-class="{'glyphicon-chevron-down': datapoint.open, 'glyphicon-chevron-right': !datapoint.open}"></i>
            {{datapoint.name}} - status: {{datapoint.status}} - {{datapoint.final_message}}
          </uib-accordion-heading>

           <p>ID: {{datapoint.id}}</p>
           <p>Start time: {{datapoint.start_time}}</p>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </div>
</div>
