<div class="container-fluid">
  <div class="row pad-bot-20">
    <div class="col-md-6"><h4><translate>designAlts.title</translate> <span class="badge badge-info margin-left-5">&nbsp;?&nbsp;</span></h4></div>
  </div>
</div>

<ng-switch on="selectedAnalysisType">
  <div ng-switch-when="Manual" class="container-fluid">
    <div class="row pad-bot-20">
      <div class="col-md-12">
        <button type="button" class="btn btn-success" ng-click="da.addAlternative()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          <translate>designAlts.addAlternative</translate>
        </button>
        <button type="button" class="btn btn-success" ng-click="da.createAlternatives()">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <translate>designAlts.createOneDesignAlternative</translate>
        </button>
        <button type="button" class="btn btn-success" ng-click="da.duplicateAlternative()"><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> <translate>designAlts.duplicateAlternative</translate></button>
      </div>
    </div>
    <div ui-grid="gridOptions" ui-grid-edit ui-grid-selection ui-grid-cellnav ui-grid-auto-resize ui-grid-resize-columns class="grid"></div>
  </div>

  <div ng-switch-when="Algorithmic">
    <div class="row pad-bot-20">
      <div class="col-md-12">
        <p translate>designAlts.noAlternativesInAlgorithmic</p>
      </div>
    </div>
  </div>
</ng-switch>
